@page "/collections"

<div id="collections">
    <div id="collections-page-title">Examination Collections</div>

    @{ var createUrl = "collections/view"; }
    <div id="collections-controller">
        <div id="collections-controller-create" @onclick="() => manager.NavigateTo(createUrl)">
            Create Examination Collection
        </div>
        <div id="collections-controller-import" @onclick="() => ImportCollectionAsync(CancellationToken.None)">
            Import Examination Collection
        </div>
    </div>

    @if (this._collections.Count == 0)
    {
        <div id="collections-page-disclaimer">You've got no examination collections.</div>
    }
    else
    {
        <div id="collections-list">
            @foreach (var collection in _collections)
            {
            <div class="collection" @key="collection">
                <div class="collection-title">@collection.Title</div>
                @{ var runUrl = $"collections/run/{collection.FileName}";}
                <div class="collection-run" @onclick="() => manager.NavigateTo(runUrl)">Run</div>
                @{ var updateUrl = $"collections/view/{collection.FileName}";}
                <div class="collection-edit" @onclick="() => manager.NavigateTo(updateUrl)">Edit</div>
                <div class="collection-export" @onclick="() => ExportCollectionAsync(collection, CancellationToken.None)">Export</div>
                <div class="collection-delete" @onclick="() => DeleteCollection(collection)">Delete</div>
            </div>
            }
        </div>
    }
</div>
