@page "/collections"

<h1>Examination Collections</h1>

@if (this._collections.Count == 0)
{
    <span>You've got no examination collections.</span>
}
else
{
    foreach (var collection in _collections)
    {
<div class="collection" @key="collection">
    <span>@collection.Title</span>
    @{ var runUrl = $"collections/run/{collection.FileName}";}
    <button @onclick="() => manager.NavigateTo(runUrl)">Run</button>
    @{ var updateUrl = $"collections/view/{collection.FileName}";}
    <button @onclick="() => manager.NavigateTo(updateUrl)">Edit</button>
    <button @onclick="() => ExportCollectionAsync(collection, CancellationToken.None)">Export</button>
    <button @onclick="() => DeleteCollection(collection)">Delete</button>
</div>
    }
}

@{ var createUrl = "collections/view"; }

<div id="control-panel">
    <button id="create-collection" href="collections/view" @onclick="() => manager.NavigateTo(createUrl)">
        Create Examination Collection
    </button>
    <button id="import-collection" @onclick="() => ImportCollectionAsync(CancellationToken.None)">
        Import Examination Collection
    </button>
</div>