@page "/collections/run/{CollectionFileName?}"

<div id="collection-run">
    <div id="collection-run-title">@_collection.Title</div>
    @if (_currentQuestion is null)
    {

        <div id="collection-run-controller">
            @if (_collection.Questions.Count < 1)
            {
                <div id="collection-run-controller-disclaimer">Unfortunately, this collection contains no questions.</div>
            }
            else
            {
                <div id="collection-run-controller-start" @onclick="StartRun">Start Test</div>
            }
        </div>
    }
    else
    {
        <div id="collection-run-question">
            <div id="collection-run-question-title">
                @_currentQuestion.Title
            </div>
            <div id="collection-run-question-description">
                @_currentQuestion.Description
            </div>
            <div id="collection-run-question-answers">
                @foreach (var answer in _currentQuestion.Answers)
                {
                    <div class="answer" @key="answer">
                        <div class="answer-title">
                            @answer.Content
                        </div>
                        <div class="answer-select">
                            <button @onclick="() => RecordAnswer(answer)">Select</button>
                        </div>
                    </div>
                }
                <div class="answer-skip">
                    <button @onclick="() => RecordAnswer(null)">Skip</button>
                </div>
            </div>
        </div>
    }
</div>