@page "/runs"

<div id="runs">
    <div id="runs-page-title">Test runs</div>
    <div id="runs-controller">
        <div id="runs-import" @onclick="() => ImportRunAsync(CancellationToken.None)">Import</div>
    </div>
    @if (this._runs.Count == 0)
    {
        <div id="runs-page-disclaimer">You've got no examination runs.</div>
    }
    else
    {
        <div id="runs-list">
            @foreach (var run in _runs)
            {
                <div class="run" @key="run">
                    <div class="run-title">@run.Title</div>
                    @{ var viewUrl = $"runs/view/{run.FileName}";}
                    <div class="run-view" @onclick="() => manager.NavigateTo(viewUrl)">View</div>
                    <div class="run-export" @onclick="() => ExportRunAsync(run, CancellationToken.None)">Export</div>
                    <div class="run-delete" @onclick="() => DeleteRun(run)">Delete</div>
                </div>
            }
        </div>
    }
</div>
