.question-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.question-controller-create,
.question-controller-delete {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--main-color);
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.question-controller-create:hover,
.question-controller-delete:hover,
.question-controller-create:focus,
.question-controller-delete:focus {
    background-color: var(--controller-color);
    outline: none;
}

.question-answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.answer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 15px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.answer-content,
.answer-points {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.answer-option-content-input{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.answer-points-input {
    width: 80px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.answer-option-content-input:focus,
.answer-points-input:focus {
    outline: 1px solid var(--action-color);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.answer-delete {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--main-color);
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    align-self: flex-end;
}

.answer-delete:hover,
.answer-delete:focus {
    background-color: var(--action-color);
    outline: none;
}
.answer-options-controller-create {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--main-color);
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    width: 13rem;
}

.answer-options {
    width: 100%;
}

.answer-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.answer-option label {
    flex-grow: 1;
}

.answer-option-input {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    width: 100%;
}

.answer-option-input input{
    width: 100%;
}

.answer-option-input-controller-delete {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--main-color);
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    max-width: fit-content;
    flex-grow: 1;
    width: 100%;
}

.answer-option-content-input
{
    flex-grow: 8;
    margin-right: 10px;
    width: 100%;
}

.answer-points-input {
    flex-grow: 1;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .question-controller {
        flex-direction: column;
        gap: 10px;
    }

    .answer {
        grid-template-columns: 1fr;
    }

    .answer-option {
        flex-direction: column;
    }

    .answer-option-content-input,
    .answer-points-input {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }
}