@using Sophiac.Core.Answers

<div class="question-controller">
    <div class="question-controller-create" @onclick="() => Question.Answers.Add(new MultipleChoicesAnswer())">Add Answer</div>
    <div class="question-controller-delete" @onclick="() => DeleteAction()">Delete Question</div>
</div>
@foreach (var answer in Question.Answers.Select(it => it as MultipleChoicesAnswer))
{
    <div class="question-answers">
        <div class="answer" @key="answer">
            <div class="answer-options">
                <div class="answer-options-controller">
                    <div class="answer-options-controller-create" @onclick="() => AddAnswerOption(answer)">
                        Create Answer Option
                    </div>
                </div>
                @foreach (var option in answer.Content)
                {
                    <div class="answer-option" @key="option">
                        <label>Answer Option</label>
                        <div class="answer-option-input">
                            <InputText class="answer-option-content-input" @bind-Value="option.Content"></InputText>
                            <ValidationMessage For="@(() => option.Content)"></ValidationMessage>
                            <div class="answer-option-input-controller">
                                <div class="answer-option-input-controller-delete" @onclick="() => DeleteAnswerOption(answer, option)">
                                    Delete Answer Option
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="answer-points">
                <label>Amount of points for selecting this question</label>
                <InputNumber class="answer-points-input" @bind-Value="answer.Points"></InputNumber>
                <ValidationMessage For="(() => answer.Points)"></ValidationMessage>
            </div>
        </div>
        <div class="answer-delete" @onclick="() => Question.Answers.Remove(answer)">Delete Answer</div>
    </div>
}
