@using Sophiac.Domain.Answers

<div id="question">
    <div id="question-title">
        @Question.Title
    </div>
    <div id="question-description">
        @Question.Description
    </div>
    <div id="question-answers">
        @for (var index = 0; index < PotentialLeftOptions.Count; index++)
        {
            var currentIndex = index;
            <div class="answer">
                <div class="answer-left">
                    <div class="answer-left-controller">
                        @if (index > 0)
                        {
                            <div class="answer-left-controller-up" @onclick="() => MoveUp(PotentialLeftOptions, currentIndex)">
                                ⬆️
                            </div>
                        }
                    </div>
                    <div class="answer-left-option">
                        @PotentialLeftOptions[index]
                    </div>
                    <div class="answer-left-controller">
                        @if (index < PotentialLeftOptions.Count - 1)
                        {
                            <div class="answer-left-controller-down" @onclick="() => MoveDown(PotentialLeftOptions, currentIndex)">
                                ⬇️
                            </div>
                        }
                    </div>
                </div>
                <div class="answer-delimiter">
                    ↔️
                </div>
                <div class="answer-right">
                    <div class="answer-right-controller">
                        @if (index > 0)
                        {
                            <div class="answer-right-controller-up" @onclick="() => MoveUp(PotentialRightOptions, currentIndex)">
                                ⬆️
                            </div>
                        }
                    </div>
                    <div class="answer-right-option">
                        @PotentialRightOptions[index]
                    </div>
                    <div class="answer-right-controller">
                        @if (index < PotentialRightOptions.Count - 1)
                        {
                            <div class="answer-right-controller-down" @onclick="() => MoveDown(PotentialRightOptions, currentIndex)">
                                ⬇️
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="question-answers-submit" @onclick="() => RecordAnswer()">
            Submit
        </div>
    </div>
</div>
